

td :nth-child(odd) {
    background-color:#ffd3de;

}
td :nth-child(even) {
background-color:#f6b8d1 ;
}
t
th{
    background-color:#ffc0d0;
}
#submit{
    background-color:#609c4d ;

}
#clear {
    background-color:#ac0d0d ;
}
h1{
    text-align: center;
    color: aliceblue;

}
header {
    background-color:#3f8f8d;
    height: 100px;


}
#myGardForm {
    margin-top: 20px;
    border-style:dotted;
}

footer p {
    
    text-align: center;
    color: azure;
   height: 20px;

}

footer {
    background-color: #5dc0a6;
    height: 70px;


}
main { 
    height: 60%;
    margin-bottom: 300px;
}


body {
    font-family:roboto }


    